.chat-area-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #c0c0c0;
    margin-top: 10px;

    .chat-body {
        height: 600px;
        overflow: auto;
        padding: 8px 24px;
    }

    .msg-send-form {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 24px;

        .text-area-wrapper {
            flex-grow: 2;

            .ant-form-item-extra {
                text-align: left;
            }
        }
    }

    .ant-list-item {
        text-align: left;
    }
}
